body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #34495e;
	background-color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
	color: #34495e;
}

.samolechenie--border-bot {
	border-bottom: 2px dashed #34495e;
	margin-bottom: 120px;
}
.samolechenie__text {
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: -3px;
	font-family: Roboto, Arial;
	transform: scaleY(2.3);
	font-weight: 200;
	word-break: break-all;
	//color: #b7b7b7;
	;
}

.bg-orange {
	background: $color-olifar;
}

// @import "../../node_modules/uikit/dist/css/uikit.css";
@import "../../node_modules/uikit/src/scss/variables-theme";
@import "../../node_modules/uikit/src/scss/mixins-theme";
@import "../../node_modules/uikit/src/scss/uikit-theme";